body {
	background-image: url(1.jpg);
	background-size: cover;

}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: xxx-large;
}

section {
	position: relative;
	max-width: 800px;
	padding: 20px;
	background-color: black;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: medium;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: x-large;
}

button{
	width: 120px;
	height: 120px;
}
